extends ./layout

block css
  link(href='css/style.css', rel='stylesheet')

block content
  #userId= user._id
  .container
    .jumbotron
      .row
        - var name = user.username
        - var possesive = name + (name.slice(-1) === 's' ? "'" : "'s")
        h1
          span= possesive
          |  Profile
      hr
      p
        i: strong Profile Picture:
        br
        img#picture(src=user.picture, alt="profile picture")
        br
        input#pictureInput(type="text" placeholder="URL", size="36")
      p
        i: strong Username: 
        span#username= name
        br
        input#usernameInput(type="text", size="36")
      p
        i: strong Password: 
        span#password ----
        br
        input#passwordInput(type="text", size="36")
      p
        i: strong Email: 
        span#email= user.email
        br
        input#emailInput(type="text", size="36")
      p
        i: strong Birthday: 
        span#birthday= user.birthday
        br
        input#birthdayInput(type="text", size="36")
      p
        button.btn.btn-lg.btn-danger#save Save

block js
  script(src='js/profile.js')
